<!DOCTYPE html>
<html>
<%- partial('_partial/head') %>

<body>
  <h1 id="title"><%= config.title %></h1>
  <%- partial('_partial/header') %>
  <%-body%>
  <%- partial('_partial/footer') %>
</body>

</html>