<% var since = theme.footer.since %>
<% var year = date(new Date(), 'YYYY') %>

<br/>
<%- render(__('cc_license'), 'ejs') %>
<hr/>

<p>
     <%- render(__('analytics_warning'), 'ejs') %><br/>
     <%- render(__('ref'), 'ejs') %>
</p>
<a href="https://patrickwu.space" target="_blank">Home</a>
|
<a href="https://patrickwu.space/blog" target="_blank">Blog</a>
| Comic |
<a href="https://podcasts.patrickwu.space" target="_blank">Podcasts</a>
<br/>
<%= since %> - <%= year %>
|
<%= config.author %>